<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <p>Neste projeto das aulas 52 a 55 aprendi a usar rotas com o pacote <strong>pecee/simple-router</strong> e view templates com o pacote <strong>twig/twig</strong>.</p>
    <p>Primeiramente preciso ter um projeto iniciado com o composer, então realizar a instalação dos pacotes informados acima.</p>
    <p>Para as rotas, basta criar um arquivo <strong>routes.php</strong> e realizar as configurações seguindo a <a href="https://packagist.org/packages/pecee/simple-router">doc</a> ou apenas o modelo feito aqui neste projeto.</p>
    <p>Ja para as view templates, preciso antes criar uma classe de apoio, que carrega a pasta das view e renderiza a view, após isso configurar o metodo __construct na classe Controller e por fiz chamar esse metodo na classe filha. Pode usar a <a href="https://twig.symfony.com/doc/3.x/">doc</a> ou apenas seguir o mesmo modelo feito neste projeto.</p>
</body>
</html>